@media only screen and (max-width: 426px) {
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
    body{
        font-family: 'Open Sans', sans-serif;
        margin: 0;
    }

    @keyframes Down {
        from {height: 0px;}
        to {height: 250px;}
    }
    @keyframes Up {
        from {height: 250px;}
        to {height: 0px;}
    }
    @keyframes slideInLeft {
        from {
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
        }
      
        to {
          transform: translate3d(0, 0, 0);
        }
      }
      
      .slideInLeft {
        animation-name: slideInLeft;
      }
    
    #menu{
        display: none;
    }
    #menutext{
        display: none;
    }
    #menu-icon{
        display: block;
    }
    .container-logo img{
        width: 50%;
    }
    ul{
        width: 100%;
        padding: 0%;
        text-align: center;
    }
    li{
        margin: 2% 0% 2% 0%;
    }

    /*main*/

    .BoxContainer{
        width: 90%;
    }
    #forecast{
        display: none;
    }
    .img-container-article{
        width: 100%;
        margin: 0%;
        margin-bottom: 50px;
    }
    .TextArticle{
        text-align: justify;
    }
    #map{
        display: none;
    }
    .col-50{
        width: 100%;
    }
    .info{
        text-align: center;
    }

    /* Gallery */

    .container-grid{
        max-width: 900px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 20px;
    }
    .container-middle{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .column-2-row-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .column-2-row-2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .column-2-row-3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .column-3-row-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .column-3-row-2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .column-3-row-3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .description{
        display: none;
    }
    #container-image{
        display: none;
    }
    .adjust-width{
        width: 90%;
    }
    .adjust-width .container-article{
        width: 95%;
    }
    .adjust-width .container-article{
        width: 95%;
    }
    .seccion-info{
        width: 100%;
        margin-bottom: 0%;
    }

    .container{
        width: 100%;
    }
  }